.message-list {
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > .message-item:not(:first-child) {
    margin-top: 4px;
  }

  .user-sent {
    align-self: flex-end;
    text-align: end;
  }

  .metadata-container {
    > .username,
    > .date {
      display: inline;
    }

    > .username {
      font-weight: 600;
    }

    > .date {
      margin-left: 8px;
      font-size: 0.8rem;
      color: #000000B0;
    }
  }
}
