.message-item {
  padding: 8px;
  background: #EEEEEE;
  border-radius: 8px;

  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 400, "slnt" -5, "CRSV" 0.5;

  &.user-sent {
    background: #3D84F7;
    color: white;
  }
}
