.send-message-input {
  padding: 8px;

  > .input-container {
    display: flex;
    flex-direction: row;

    > input {
      flex: 1;

      padding: 8px;
      background: #E0E0E0;
      font-size: 1rem;

      border: none;
      border-radius: 8px;

      font-variation-settings: "MONO" 0, "CASL" 1, "wght" 400, "slnt" -5, "CRSV" 0.5;

      &:focus {
        outline: none;
      }
    }

    > .material-icons {
      margin-left: 8px;
      padding: 8px;
      border-radius: 50%;

      background: #E0E0E0;

      transition: color 150ms linear, background-color 150ms linear;

      &.enabled {
        color: #FFFFFF;
        background: #3D84F7;
      }

      &:not(.enabled) {
        cursor: initial;
        color: #000000A0;
      }
    }
  }
}
