#login-container {
  justify-content: center;
  align-items: center;

  .outlined-card {
    width: 25%;
  }

  .common-page-layout-content {
    align-items: center;
    justify-content: center;
  }

  .title-text {
    font-size: 2rem;
  }
}
