#login-container {
  justify-content: center;
  align-items: center;

  .common-page-layout-content {
    align-items: center;
    justify-content: center;

    .outlined-card {
      width: 25%;

      .title-text {
        font-size: 2rem;
      }
    }
  }
}
